/* src/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .lista-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .personaje {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .personaje img {
    width: 100%;
    border-radius: 5px;
  }
  
  input:focus {
    border-color: #007bff;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  